{
    "openapi": "3.0.0",
    "info": {
      "title": "Push API",
      "version": "1.0.0",
      "description": "API for sending push notifications to iOS and Android applications"
    },
    "servers": [
      {
        "url": "https://api.push.com/v1",
        "description": "Production server"
      }
    ],
    "paths": {
      "/devices/{userId}": {
        "get": {
          "summary": "List User Devices",
          "description": "Get a list of all devices registered for a user",
          "operationId": "listUserDevices",
          "parameters": [
            {
              "name": "userId",
              "in": "path",
              "description": "User ID",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List of devices",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Database ID"
                        },
                        "device_id": {
                          "type": "string",
                          "description": "Device identifier"
                        },
                        "user_id": {
                          "type": "string",
                          "description": "User ID"
                        },
                        "platform": {
                          "type": "string",
                          "enum": ["ios", "android"],
                          "description": "Platform"
                        },
                        "token": {
                          "type": "string",
                          "description": "Device token"
                        },
                        "project_id": {
                          "type": "string",
                          "description": "Project ID"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Registration date"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Last update date"
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid API key"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/devices/{userId}/{deviceIdentifier}": {
        "put": {
          "summary": "Register or Update Device",
          "description": "Register a new device or update an existing one. If a device with the same userId and deviceIdentifier exists, it will be updated.",
          "operationId": "registerDevice",
          "parameters": [
            {
              "name": "userId",
              "in": "path",
              "description": "User ID",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "deviceIdentifier",
              "in": "path",
              "description": "Device identifier",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["platform", "token"],
                  "properties": {
                    "platform": {
                      "type": "string",
                      "enum": ["ios", "android"],
                      "description": "Platform of the device"
                    },
                    "token": {
                      "type": "string",
                      "description": "Device token from the platform (APNs or FCM)"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Device registered or updated successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Database ID"
                      },
                      "device_id": {
                        "type": "string",
                        "description": "Device identifier"
                      },
                      "user_id": {
                        "type": "string",
                        "description": "User ID"
                      },
                      "platform": {
                        "type": "string",
                        "enum": ["ios", "android"],
                        "description": "Platform"
                      },
                      "token": {
                        "type": "string",
                        "description": "Device token"
                      },
                      "project_id": {
                        "type": "string",
                        "description": "Project ID"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Registration date"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Last update date"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Invalid request parameters"
            },
            "401": {
              "description": "Unauthorized - Invalid API key"
            },
            "500": {
              "description": "Server error"
            }
          }
        },
        "get": {
          "summary": "Get Device",
          "description": "Get details about a specific device",
          "operationId": "getDevice",
          "parameters": [
            {
              "name": "userId",
              "in": "path",
              "description": "User ID",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "deviceIdentifier",
              "in": "path",
              "description": "Device identifier",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Device details",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Database ID"
                      },
                      "device_id": {
                        "type": "string",
                        "description": "Device identifier"
                      },
                      "user_id": {
                        "type": "string",
                        "description": "User ID"
                      },
                      "platform": {
                        "type": "string",
                        "enum": ["ios", "android"],
                        "description": "Platform"
                      },
                      "token": {
                        "type": "string",
                        "description": "Device token"
                      },
                      "project_id": {
                        "type": "string",
                        "description": "Project ID"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Registration date"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Last update date"
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Device not found"
            },
            "401": {
              "description": "Unauthorized - Invalid API key"
            },
            "500": {
              "description": "Server error"
            }
          }
        },
        "delete": {
          "summary": "Delete Device",
          "description": "Remove a device from push notifications",
          "operationId": "deleteDevice",
          "parameters": [
            {
              "name": "userId",
              "in": "path",
              "description": "User ID",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "deviceIdentifier",
              "in": "path",
              "description": "Device identifier",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "204": {
              "description": "Device deleted successfully"
            },
            "404": {
              "description": "Device not found"
            },
            "401": {
              "description": "Unauthorized - Invalid API key"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/messages": {
        "post": {
          "summary": "Send Message",
          "description": "Send a push notification to one or more devices",
          "operationId": "sendMessage",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["userId", "title", "body"],
                  "properties": {
                    "userId": {
                      "type": "string",
                      "description": "User ID to send the notification to"
                    },
                    "title": {
                      "type": "string",
                      "description": "Title of the notification"
                    },
                    "body": {
                      "type": "string",
                      "description": "Body of the notification"
                    },
                    "platform": {
                      "type": "string",
                      "enum": ["ios", "android"],
                      "description": "Platform to send the notification to (optional, sends to all platforms if not specified)"
                    },
                    "deviceIdentifier": {
                      "type": "string",
                      "description": "Specific device to send the notification to (optional, sends to all user's devices if not specified)"
                    },
                    "category": {
                      "type": "string",
                      "description": "Category of the notification (optional)"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Message sent successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the sent message"
                      },
                      "userId": {
                        "type": "string",
                        "description": "User ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "Message title"
                      },
                      "body": {
                        "type": "string",
                        "description": "Message body"
                      },
                      "platform": {
                        "type": "string",
                        "enum": ["ios", "android"],
                        "description": "Platform"
                      },
                      "deviceIdentifier": {
                        "type": "string",
                        "description": "Device identifier"
                      },
                      "category": {
                        "type": "string",
                        "description": "Category of the notification"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Sent date"
                      },
                      "devices": {
                        "type": "array",
                        "description": "Devices the message was sent to",
                        "items": {
                          "type": "object",
                          "properties": {
                            "deviceIdentifier": {
                              "type": "string",
                              "description": "Device identifier"
                            },
                            "platform": {
                              "type": "string",
                              "enum": ["ios", "android"],
                              "description": "Platform"
                            },
                            "status": {
                              "type": "string",
                              "enum": ["pending"],
                              "description": "Delivery status"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Invalid request parameters"
            },
            "401": {
              "description": "Unauthorized - Invalid API key"
            },
            "500": {
              "description": "Server error"
            }
          }
        },
        "get": {
          "summary": "List Messages",
          "description": "Get a list of sent messages with optional filtering",
          "operationId": "listMessages",
          "parameters": [
            {
              "name": "userId",
              "in": "query",
              "description": "User ID to list messages for (optional)",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "category",
              "in": "query",
              "description": "Filter messages by category (optional)",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Maximum number of messages to return",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 10
              }
            },
            {
              "name": "offset",
              "in": "query",
              "description": "Number of messages to skip",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 0
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List of messages",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "messages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Message ID"
                            },
                            "userId": {
                              "type": "string",
                              "description": "User ID"
                            },
                            "title": {
                              "type": "string",
                              "description": "Message title"
                            },
                            "body": {
                              "type": "string",
                              "description": "Message body"
                            },
                            "category": {
                              "type": "string",
                              "description": "Category of the notification"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Sent date"
                            },
                            "devices": {
                              "type": "array",
                              "description": "Devices the message was sent to",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "deviceIdentifier": {
                                    "type": "string",
                                    "description": "Device identifier"
                                  },
                                  "platform": {
                                    "type": "string",
                                    "enum": ["ios", "android"],
                                    "description": "Platform"
                                  },
                                  "status": {
                                    "type": "string",
                                    "enum": ["pending"],
                                    "description": "Delivery status"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "total": {
                        "type": "integer",
                        "description": "Total number of messages"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid API key"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/messages/{id}": {
        "get": {
          "summary": "Get Message",
          "description": "Get details about a specific message",
          "operationId": "getMessage",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "Message ID",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Message details",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Message ID"
                      },
                      "userId": {
                        "type": "string",
                        "description": "User ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "Message title"
                      },
                      "body": {
                        "type": "string",
                        "description": "Message body"
                      },
                      "category": {
                        "type": "string",
                        "description": "Category of the notification"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Sent date"
                      },
                      "devices": {
                        "type": "array",
                        "description": "Devices the message was sent to",
                        "items": {
                          "type": "object",
                          "properties": {
                            "deviceIdentifier": {
                              "type": "string",
                              "description": "Device identifier"
                            },
                            "platform": {
                              "type": "string",
                              "enum": ["ios", "android"],
                              "description": "Platform"
                            },
                            "status": {
                              "type": "string",
                              "enum": ["pending"],
                              "description": "Delivery status"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Message not found"
            },
            "401": {
              "description": "Unauthorized - Invalid API key"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      }
    },
    "components": {
      "securitySchemes": {
        "apiKey": {
          "type": "apiKey",
          "in": "header",
          "name": "Authorization",
          "description": "API key for authentication"
        }
      }
    },
    "security": [
      {
        "apiKey": []
      }
    ]
  }